/* Universal Selector */
* {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;

}
/* Element Selectors */
footer,
header {
    border:0px;
    width:100%;
    background-color: #FFA384;
    left:0px;
    border:5px;
}
header{
    position: fixed;
    top:0;
    padding-bottom:4px;
}
footer{
    position:fixed;
    justify-content:center;
    bottom:0px;
}
footer p{
    position:flex;
    justify-content: center;
    font-size:x-small;
}
nav{
    display:flex;
    justify-content:space-between;
}
h1{
    display:flex;
    flex-wrap: wrap;
    justify-content:left;
    align-items:flex-start;
}
ul{
    display:flex;
    justify-content:center;
    align-items: center;
}
li {
    display:inline;
    padding-right:10px;
}
a{
    color:rgb(234, 234, 234);
}

h1{
    display:inline;
}
h2{
    display:block;
}
main{
    display:flex;
    margin: 40px 10px 3px 10px;
    justify-content:space-evenly;
}
aside{
    display: flex;
    justify-content:flex-start;
    align-items: center;
    padding: 10px;
    background-color:#74BDCB;
}
article{
    display:flex;
    flex-wrap: wrap;
    margin-left:5px;
    background-color:#E7F2F8;
}
section{
    background-color:#EFE7BC;
    margin: 40px 10px 3px 10px;
    padding: 10px;
}
form p{
    padding-left:10px;
    display:inline;
}
/* Class & ID Selectors */
